<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="4.1.10715.0" />
  <package id="Massive" version="1.1" />
  <package id="MvcBaseViewModels" version="0.3" />
  <package id="PetaPoco" version="4.0.3" />
  <package id="PetaPoco.Core" version="4.0.3" />
  <package id="PetaPoco.RelationExtensions" version="1.0.2" />
  <package id="PetaPocoRepository" version="0.2" />
  <package id="PetaPocoScaffolding" version="0.3" />
  <package id="T4Scaffolding" version="1.0.5" />
</packages>